$priceColor: #00a453
$linkColor: red



.containerTableProd, .cart-checkout
	background: darken( white, 15%)
.ProdTable
	.custom
		.label
			font-size: .85em
			background: black
	a
		color: $linkColor
		text-decoration: underline

	background: white
	margin-bottom: 2em
	padding-bottom: .5em
	.titleHead
		text-transform: uppercase
		text-indent: 1em
		font-size: .65em
		width: 100%
		background: darken(white, 10%)
		padding: .5em 0
		color: darken(white, 40%)
		display: inline-block
		float: left

	img
		max-width: 150px
		margin: 0 auto 1em auto;
	.price
		color: $priceColor

	ul.customisation
		list-style: none
		padding: 0
		li
			padding: 0
	.input-group
		max-width: 120px

	.unitPrice
		border: 2px solid $priceColor
		//display: inline-block
		padding: .4em .5em
		margin: .1em 1em 0 1em
		text-align: center
		text-indent: 0
		width: auto
		float: right

	.partialPrice
		.titleHead
			text-align: right
			padding-right: 1em


	.size
		border: 2px solid darken(white, 30%)
		width: auto
		display: inline-block
		padding: .3em .5em
		text-indent: 0
		//margin-left: 1em
		border-radius: 4px
	.quantity
		.btn-default
			color: $linkColor
		.input-group
			margin-left: 1em
		input
			border: none
			border-left: 0px solid white
		.input-group-btn.right
			border-left: 1px solid white
		.input-group-btn.left
			border-right: 1px solid white
	.priceUnit
		text-indent: 1em
		//.price
	.custom
		text-indent: 1em



@media (max-width: 990px)
	.ProdTable
		.titleHead
			text-align: left
			background: white
			color: darken(white, 40%)
		.product, .custom
			.titleHead
				background: darken(white, 10%)


@media (max-width: 767px)
	.cart-checkout
		.containerTableProd.no-gutter
			padding: 0 1em

		.unitPrice
			float: right

		.product
			.titleHead
				text-align: center
				background: darken(white, 10%)
		.custom
			.titleHead
				background: white



